.pager-container{
    display: flex;
    gap: 10px; 
    width: 100%; 
    justify-content: center;
    padding: 50px 0; 
    align-items: center;
}

.pager{
    display: flex;
    gap: 5px
}

.pager li{
    border: 1px solid black;
    width: 20px; 
    height: 20px; 
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
}

.pager li.active{
    background-color: black;
    color:white;
}